Imports

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys

import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("OncoData") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:9 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,676 kB]
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease [23.8 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,325 kB]
Get:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy/main amd64 Packages [66.2 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,059 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,390 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,671 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,713 kB]
Fetched 9,156 kB in 4s (2,513 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
81 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=4107971937c0e3e2c8a297f34c038bb238ca42931ce14e0502fb6fb549c6c7a0
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [2]:
from pyspark.sql.window import Window

Create Dataframes from CSVs

In [3]:
import requests

path = "https://raw.githubusercontent.com/sarahrosegallagher/PySparkDemo/main/clinical_details.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'clinical_details.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

clinical_df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)
clinical_df.show()

+----------+------------+--------------------+------------------+--------------+
|Patient_ID|Cancer_Stage|   Histological_Type|     Tumor_Size_cm|Grade_of_Tumor|
+----------+------------+--------------------+------------------+--------------+
|         1|   Stage III|            Lymphoma|  8.55040151862427|          High|
|         2|   Stage III|            Lymphoma| 8.743641564805078|           Low|
|         3|   Stage III|Squamous Cell Car...|3.2522622446427762|          High|
|         4|    Stage IV|            Lymphoma|1.3495126098648087|  Intermediate|
|         5|    Stage IV|Squamous Cell Car...|3.7293896320590054|           Low|
|         6|   Stage III|Squamous Cell Car...| 5.833741844769899|          High|
|         7|    Stage IV|Squamous Cell Car...| 3.939861176164368|          High|
|         8|     Stage I|Squamous Cell Car...| 8.450821034088298|  Intermediate|
|         9|     Stage I|Squamous Cell Car...| 3.443886242377677|           Low|
|        10|    Stage IV|      Adenocarcinoma| 9.687266473516928|           Low|
|        11|    Stage IV|            Lymphoma| 5.115386454523557|          High|
|        12|   Stage III|Squamous Cell Car...| 8.578207675107834|           Low|
|        13|    Stage II|            Lymphoma| 2.749420305953857|          High|
|        14|    Stage IV|            Lymphoma| 4.702185145510107|           Low|
|        15|     Stage I|Squamous Cell Car...| 7.295609896904745|          High|
|        16|   Stage III|      Adenocarcinoma|2.2451778317602122|           Low|
|        17|    Stage IV|Squamous Cell Car...|2.1947088001867283|  Intermediate|
|        18|     Stage I|      Adenocarcinoma|  9.72583180402743|           Low|
|        19|     Stage I|            Lymphoma| 7.431355937619569|           Low|
|        20|    Stage II|      Adenocarcinoma| 1.369607650910882|  Intermediate|
+----------+------------+--------------------+------------------+--------------+
only showing top 20 rows

In [4]:

path = "https://raw.githubusercontent.com/sarahrosegallagher/PySparkDemo/main/insurance_information.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'insurance_information.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

insurance_df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)
insurance_df.show()

+----------+----------+--------------------+----------+-----+-------------+
|Patient_ID|      Date|       Provider_Name|Deductible|Copay|Coverage_Type|
+----------+----------+--------------------+----------+-----+-------------+
|         1|2022-03-12|    UnitedHealthcare|    1604.0| 32.0|          HMO|
|         1|2022-11-09|              Humana|     842.0| 21.0|          PPO|
|         1|2022-10-28|               Cigna|    1358.0| 43.0|         NULL|
|         1|2021-11-12|               Cigna|      NULL| 35.0|          EPO|
|         2|2021-06-19|                NULL|    2654.0| 23.0|         NULL|
|         2|2023-09-22|               Cigna|    1298.0| 50.0|          EPO|
|         3|2021-03-07|Blue Cross Blue S...|     818.0| 47.0|          HMO|
|         3|2021-10-14|               Aetna|    3071.0| NULL|          HMO|
|         3|2023-01-14|                NULL|    1941.0| NULL|          HMO|
|         4|2023-01-25|                NULL|     633.0| 20.0|          HMO|
|         4|2022-07-16|    UnitedHealthcare|    3404.0| 41.0|          PPO|
|         5|2021-08-17|    UnitedHealthcare|      NULL| 37.0|          HMO|
|         5|2021-01-27|    UnitedHealthcare|    3838.0| NULL|          PPO|
|         5|2022-07-30|                NULL|      NULL| 30.0|          HMO|
|         5|2022-09-23|                NULL|     540.0| 24.0|          PPO|
|         6|2023-02-13|    UnitedHealthcare|     613.0| 30.0|         NULL|
|         6|2022-01-16|               Aetna|    2652.0| NULL|         NULL|
|         6|2023-12-07|Blue Cross Blue S...|    3461.0| NULL|          HMO|
|         7|2021-05-10|               Aetna|      NULL| 28.0|         NULL|
|         7|2022-02-18|Blue Cross Blue S...|      NULL| 44.0|          HMO|
+----------+----------+--------------------+----------+-----+-------------+
only showing top 20 rows

In [5]:
path = "https://raw.githubusercontent.com/sarahrosegallagher/PySparkDemo/main/patient_information.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'patient_information.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

patient_df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)
patient_df.show()

+----------+-----------------+---+------+-------------+
|Patient_ID|             Name|Age|Gender|    Diagnosis|
+----------+-----------------+---+------+-------------+
|         1|  Tracy Hernandez| 56|Female|Breast Cancer|
|         2| Michelle Salazar| 69|Female|  Lung Cancer|
|         3|     John Roberts| 46|Female|Breast Cancer|
|         4|    Holly Parsons| 32|Female| Colon Cancer|
|         5| Mrs. Linda Smith| 60|  Male| Colon Cancer|
|         6|   Keith Faulkner| 25|Female|Breast Cancer|
|         7| Colleen Anderson| 78|  Male| Colon Cancer|
|         8|    Gregory Allen| 38|Female| Colon Cancer|
|         9| Barbara Williams| 56|Female|Breast Cancer|
|        10| Kenneth Williams| 75|  Male|Breast Cancer|
|        11|    Johnny Horton| 36|Female| Colon Cancer|
|        12|     Amber Thomas| 40|  Male| Colon Cancer|
|        13|   Andrew Vazquez| 28|Female| Colon Cancer|
|        14|   Jessica Murray| 28|Female|  Lung Cancer|
|        15|  Tamara Schaefer| 41|  Male|  Lung Cancer|
|        16|     Aaron Wilson| 70|Female|  Lung Cancer|
|        17|       Brian Nash| 53|  Male|Breast Cancer|
|        18|    Colleen Hayes| 57|Female|  Lung Cancer|
|        19|Joseph Williamson| 41|  Male|Breast Cancer|
|        20|   Kaitlyn Butler| 20|  Male|Breast Cancer|
+----------+-----------------+---+------+-------------+
only showing top 20 rows

In [6]:
path = "https://raw.githubusercontent.com/sarahrosegallagher/PySparkDemo/main/treatment_information.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'treatment_information.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

treatment_df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)
treatment_df.show()

+----------+-----------------+--------------------+------------------+
|Patient_ID|   Treatment_Type|Treatment_Start_Date|            Dosage|
+----------+-----------------+--------------------+------------------+
|         1|Radiation Therapy|          2023-10-23|174.37463310597718|
|         2|     Chemotherapy|          2022-09-27|135.36222037486215|
|         3|Radiation Therapy|          2021-11-26|  59.5267744385002|
|         4|          Surgery|          2023-07-10| 55.52328014539871|
|         5|          Surgery|          2023-08-09| 70.07781782009498|
|         6|     Chemotherapy|          2021-10-27|52.050794724049595|
|         7|     Chemotherapy|          2022-04-26| 61.30385905286935|
|         8|     Chemotherapy|          2022-05-17| 153.7571595753368|
|         9|          Surgery|          2020-10-31|130.15194125441946|
|        10|Radiation Therapy|          2021-06-25|162.48661242049576|
|        11|          Surgery|          2020-06-27|186.97486283864643|
|        12|Radiation Therapy|          2021-04-08| 137.7724298488208|
|        13|          Surgery|          2020-12-21|158.91812661077722|
|        14|Radiation Therapy|          2021-07-05|163.56218030636836|
|        15|          Surgery|          2021-05-20|106.67758239136796|
|        16|     Chemotherapy|          2023-06-26| 86.16272484944477|
|        17|          Surgery|          2024-01-13| 80.75679927597874|
|        18|Radiation Therapy|          2022-03-14| 87.71636592676977|
|        19|          Surgery|          2022-11-13| 91.20976955388632|
|        20|          Surgery|          2022-07-29| 81.08414735120847|
+----------+-----------------+--------------------+------------------+
only showing top 20 rows

Inspecting and Curating Data

In [7]:
def check_nulls(df: DataFrame):
  for column in df.columns:
    null_records_count = df.filter(F.col(column).isNull()).count()

    if null_records_count > 0:
      print(f"Column '{column}' has {null_records_count} null records")
    elif null_records_count == 0:
      print(f"Column {column} has no null records")

In [8]:
insurance_df.printSchema()

root
 |-- Patient_ID: integer (nullable = true)
 |-- Date: date (nullable = true)
 |-- Provider_Name: string (nullable = true)
 |-- Deductible: double (nullable = true)
 |-- Copay: double (nullable = true)
 |-- Coverage_Type: string (nullable = true)

In [9]:
check_nulls(insurance_df)

Column Patient_ID has no null records
Column Date has no null records
Column 'Provider_Name' has 57 null records
Column 'Deductible' has 68 null records
Column 'Copay' has 52 null records
Column 'Coverage_Type' has 67 null records

In [10]:
#identify instances where provider name is null
null_insurance = insurance_df\
.where((F.col('Provider_Name').isNull()))\
.select('Patient_ID','Date','Provider_Name')

null_insurance.show()

+----------+----------+-------------+
|Patient_ID|      Date|Provider_Name|
+----------+----------+-------------+
|         2|2021-06-19|         NULL|
|         3|2023-01-14|         NULL|
|         4|2023-01-25|         NULL|
|         5|2022-07-30|         NULL|
|         5|2022-09-23|         NULL|
|         8|2021-07-22|         NULL|
|         9|2022-10-28|         NULL|
|        10|2021-03-29|         NULL|
|        10|2022-04-01|         NULL|
|        10|2021-07-18|         NULL|
|        12|2022-04-02|         NULL|
|        13|2021-08-27|         NULL|
|        18|2022-09-21|         NULL|
|        18|2023-11-07|         NULL|
|        20|2021-08-05|         NULL|
|        21|2021-08-08|         NULL|
|        22|2023-08-21|         NULL|
|        26|2022-02-24|         NULL|
|        29|2023-10-07|         NULL|
|        30|2021-08-19|         NULL|
+----------+----------+-------------+
only showing top 20 rows

In [33]:
window_spec = Window.partitionBy("Patient_ID").orderBy("Date").rowsBetween(Window.unboundedPreceding, 0)

insurance_provider_filled = insurance_df.withColumn("Provider_Name", F.last(F.col("Provider_Name"), True).over(window_spec))\
                                        .withColumn("Deductible", F.last(F.col("Deductible"), True).over(window_spec))\
                                        .withColumn("Copay", F.last(F.col("Copay"), True).over(window_spec))\
                                        .withColumn("Coverage_Type", F.last(F.col("Coverage_Type"), True).over(window_spec))

insurance_provider_filled.show()

+----------+----------+--------------------+----------+-----+-------------+
|Patient_ID|      Date|       Provider_Name|Deductible|Copay|Coverage_Type|
+----------+----------+--------------------+----------+-----+-------------+
|         1|2021-11-12|               Cigna|      NULL| 35.0|          EPO|
|         1|2022-03-12|    UnitedHealthcare|    1604.0| 32.0|          HMO|
|         1|2022-10-28|               Cigna|    1358.0| 43.0|          HMO|
|         1|2022-11-09|              Humana|     842.0| 21.0|          PPO|
|         2|2021-06-19|                NULL|    2654.0| 23.0|         NULL|
|         2|2023-09-22|               Cigna|    1298.0| 50.0|          EPO|
|         3|2021-03-07|Blue Cross Blue S...|     818.0| 47.0|          HMO|
|         3|2021-10-14|               Aetna|    3071.0| 47.0|          HMO|
|         3|2023-01-14|               Aetna|    1941.0| 47.0|          HMO|
|         4|2022-07-16|    UnitedHealthcare|    3404.0| 41.0|          PPO|
|         4|2023-01-25|    UnitedHealthcare|     633.0| 20.0|          HMO|
|         5|2021-01-27|    UnitedHealthcare|    3838.0| NULL|          PPO|
|         5|2021-08-17|    UnitedHealthcare|    3838.0| 37.0|          HMO|
|         5|2022-07-30|    UnitedHealthcare|    3838.0| 30.0|          HMO|
|         5|2022-09-23|    UnitedHealthcare|     540.0| 24.0|          PPO|
|         6|2022-01-16|               Aetna|    2652.0| NULL|         NULL|
|         6|2023-02-13|    UnitedHealthcare|     613.0| 30.0|         NULL|
|         6|2023-12-07|Blue Cross Blue S...|    3461.0| 30.0|          HMO|
|         7|2021-05-10|               Aetna|      NULL| 28.0|         NULL|
|         7|2022-02-18|Blue Cross Blue S...|      NULL| 44.0|          HMO|
+----------+----------+--------------------+----------+-----+-------------+
only showing top 20 rows

In [35]:
#result - nulls are reduced by about half (did not catch cases where no prior info)
check_nulls(insurance_provider_filled)

Column Patient_ID has no null records
Column Date has no null records
Column 'Provider_Name' has 20 null records
Column 'Deductible' has 21 null records
Column 'Copay' has 17 null records
Column 'Coverage_Type' has 25 null records

Investigate & Explore Data

In [ ]:
patient_df.printSchema()

root
 |-- Patient_ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Diagnosis: string (nullable = true)

In [ ]:
check_nulls(patient_df)

Column Patient_ID has no null records
Column Name has no null records
Column Age has no null records
Column Gender has no null records
Column Diagnosis has no null records

In [ ]:
check_nulls(treatment_df)

Column Patient_ID has no null records
Column Name has no null records
Column Age has no null records
Column Gender has no null records
Column Diagnosis has no null records

In [ ]:
check_nulls(clinical_df)

Column Patient_ID has no null records
Column Name has no null records
Column Age has no null records
Column Gender has no null records
Column Diagnosis has no null records

In [ ]:
print(patient_df.count())
print(clinical_df.count())
print(treatment_df.count())

100
100
100

In [ ]:
patient_df.summary().show()

+-------+------------------+------------+------------------+------+-------------+
|summary|        Patient_ID|        Name|               Age|Gender|    Diagnosis|
+-------+------------------+------------+------------------+------+-------------+
|  count|               100|         100|               100|   100|          100|
|   mean|              50.5|        NULL|             50.27|  NULL|         NULL|
| stddev|29.011491975882016|        NULL|19.176403323992865|  NULL|         NULL|
|    min|                 1|Aaron Wilson|                19|Female|Breast Cancer|
|    25%|                25|        NULL|                34|  NULL|         NULL|
|    50%|                50|        NULL|                51|  NULL|         NULL|
|    75%|                75|        NULL|                68|  NULL|         NULL|
|    max|               100| Wayne Smith|                79|  Male|  Lung Cancer|
+-------+------------------+------------+------------------+------+-------------+

In [ ]:
clinical_df.summary().show()

+-------+------------------+------------+--------------------+------------------+--------------+
|summary|        Patient_ID|Cancer_Stage|   Histological_Type|     Tumor_Size_cm|Grade_of_Tumor|
+-------+------------------+------------+--------------------+------------------+--------------+
|  count|               100|         100|                 100|               100|           100|
|   mean|              50.5|        NULL|                NULL| 5.392475494287356|          NULL|
| stddev|29.011491975882016|        NULL|                NULL|2.6552666350625533|          NULL|
|    min|                 1|     Stage I|      Adenocarcinoma|1.1377408626134629|          High|
|    25%|                25|        NULL|                NULL| 3.158086232416629|          NULL|
|    50%|                50|        NULL|                NULL| 5.115386454523557|          NULL|
|    75%|                75|        NULL|                NULL| 7.431355937619569|          NULL|
|    max|               100|    Stage IV|Squamous Cell Car...| 9.815594757593576|           Low|
+-------+------------------+------------+--------------------+------------------+--------------+

In [ ]:
treatment_df.summary().show()

+-------+------------------+--------------+------------------+
|summary|        Patient_ID|Treatment_Type|            Dosage|
+-------+------------------+--------------+------------------+
|  count|               100|           100|               100|
|   mean|              50.5|          NULL|124.29488646391448|
| stddev|29.011491975882016|          NULL|  41.9404369348223|
|    min|                 1|  Chemotherapy| 50.38925365754699|
|    25%|                25|          NULL|  90.3008723037961|
|    50%|                50|          NULL|128.54034140225167|
|    75%|                75|          NULL|158.91812661077722|
|    max|               100|       Surgery|197.93854938002227|
+-------+------------------+--------------+------------------+

In [ ]:
diagnosis_value_count = patient_df.groupBy("Diagnosis").count()

total_count = patient_df.count()

percentage_column = diagnosis_value_count.withColumn("Diagnosis_Percentage", (F.col("count")/total_count) * 100)

In [ ]:
percentage_column.show()

+-------------+-----+--------------------+
|    Diagnosis|count|Diagnosis_Percentage|
+-------------+-----+--------------------+
|  Lung Cancer|   32|                32.0|
| Colon Cancer|   33|                33.0|
|Breast Cancer|   35|                35.0|
+-------------+-----+--------------------+

Joining and Filtering

In [ ]:
#Breast Cancer Histology, Stage, and Treatment

bc_patient_df = patient_df.filter(patient_df.Diagnosis == 'Breast Cancer')

bc_df = bc_patient_df.join(clinical_df, on="Patient_ID").join(treatment_df, on = "Patient_ID")

bc_df.show()

+----------+-----------------+---+------+-------------+------------+--------------------+------------------+--------------+-----------------+--------------------+------------------+
|Patient_ID|             Name|Age|Gender|    Diagnosis|Cancer_Stage|   Histological_Type|     Tumor_Size_cm|Grade_of_Tumor|   Treatment_Type|Treatment_Start_Date|            Dosage|
+----------+-----------------+---+------+-------------+------------+--------------------+------------------+--------------+-----------------+--------------------+------------------+
|         1|  Tracy Hernandez| 56|Female|Breast Cancer|   Stage III|            Lymphoma|  8.55040151862427|          High|Radiation Therapy|          2023-10-23|174.37463310597718|
|         3|     John Roberts| 46|Female|Breast Cancer|   Stage III|Squamous Cell Car...|3.2522622446427762|          High|Radiation Therapy|          2021-11-26|  59.5267744385002|
|         6|   Keith Faulkner| 25|Female|Breast Cancer|   Stage III|Squamous Cell Car...| 5.833741844769899|          High|     Chemotherapy|          2021-10-27|52.050794724049595|
|         9| Barbara Williams| 56|Female|Breast Cancer|     Stage I|Squamous Cell Car...| 3.443886242377677|           Low|          Surgery|          2020-10-31|130.15194125441946|
|        10| Kenneth Williams| 75|  Male|Breast Cancer|    Stage IV|      Adenocarcinoma| 9.687266473516928|           Low|Radiation Therapy|          2021-06-25|162.48661242049576|
|        17|       Brian Nash| 53|  Male|Breast Cancer|    Stage IV|Squamous Cell Car...|2.1947088001867283|  Intermediate|          Surgery|          2024-01-13| 80.75679927597874|
|        19|Joseph Williamson| 41|  Male|Breast Cancer|     Stage I|            Lymphoma| 7.431355937619569|           Low|          Surgery|          2022-11-13| 91.20976955388632|
|        20|   Kaitlyn Butler| 20|  Male|Breast Cancer|    Stage II|      Adenocarcinoma| 1.369607650910882|  Intermediate|          Surgery|          2022-07-29| 81.08414735120847|
|        27| Lauren Rodriguez| 55|  Male|Breast Cancer|    Stage IV|Squamous Cell Car...|  4.85483027446097|           Low|          Surgery|          2020-07-02|121.43160451835213|
|        30|   Michael Rogers| 38|  Male|Breast Cancer|    Stage IV|      Adenocarcinoma| 9.236923548638323|           Low|          Surgery|          2023-02-23|172.45786028195937|
|        31|   Ashley Higgins| 50|  Male|Breast Cancer|     Stage I|Squamous Cell Car...|  4.98117006757994|          High|     Chemotherapy|          2023-05-23|195.19606481597347|
|        32|      Gene Gentry| 29|  Male|Breast Cancer|    Stage IV|            Lymphoma| 3.158086232416629|  Intermediate|          Surgery|          2022-07-29|63.261233504846984|
|        35|      Donna Gomez| 78|  Male|Breast Cancer|    Stage II|      Adenocarcinoma| 9.411525976057387|  Intermediate|Radiation Therapy|          2022-01-22|122.00689505277127|
|        36| Catherine Morris| 61|Female|Breast Cancer|     Stage I|      Adenocarcinoma| 6.744435344590153|          High|Radiation Therapy|          2020-05-24|113.08036679976126|
|        37|   Sarah Gonzalez| 42|  Male|Breast Cancer|    Stage IV|Squamous Cell Car...|   5.6502663168391|           Low|          Surgery|          2023-02-28|167.70023959164644|
|        42|   Lauren Wheeler| 45|  Male|Breast Cancer|    Stage IV|            Lymphoma| 6.094334894446686|           Low|     Chemotherapy|          2021-12-12|197.06940876385667|
|        44|   Jorge Phillips| 33|  Male|Breast Cancer|   Stage III|      Adenocarcinoma|2.0814818302507794|          High|Radiation Therapy|          2020-08-21| 145.4966482433424|
|        45|         Judy Lee| 32|Female|Breast Cancer|     Stage I|            Lymphoma| 4.076917000447614|           Low|          Surgery|          2023-04-11|133.22234128133385|
|        51|  Anthony Johnson| 61|Female|Breast Cancer|   Stage III|            Lymphoma|1.1544499164857522|          High|          Surgery|          2022-03-12| 94.69391773129257|
|        52|   Robert Mcclain| 72|  Male|Breast Cancer|    Stage IV|Squamous Cell Car...| 7.870279807035199|  Intermediate|Radiation Therapy|          2022-07-06|128.54034140225167|
+----------+-----------------+---+------+-------------+------------+--------------------+------------------+--------------+-----------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
bc_stage_percentage = bc_df.groupBy("Cancer_Stage").agg(F.count("Patient_ID").alias("Total"),F.round((F.count("Patient_ID") / bc_df.count()) * 100, 2).alias("Percentage"))

In [ ]:
def calculate_stage_percentage(df: DataFrame, stage_column: str):
  total_count = df.count()

  stage_percentage_df = df.groupBy(stage_column).agg(F.count("Patient_ID").alias("Total"),F.round((F.count("Patient_ID")/total_count)*100,2).alias("Percentage"))

  return stage_percentage_df

In [ ]:
bc_stage_percentage_df = calculate_stage_percentage(bc_df, "Cancer_Stage")

bc_stage_percentage_df.show()

+------------+-----+----------+
|Cancer_Stage|Total|Percentage|
+------------+-----+----------+
|   Stage III|    7|      20.0|
|    Stage IV|   14|      40.0|
|     Stage I|    9|     25.71|
|    Stage II|    5|     14.29|
+------------+-----+----------+

In [ ]:
bc_histology_percentage_df = calculate_stage_percentage(bc_df,"Histological_Type")

bc_histology_percentage_df.show()

+--------------------+-----+----------+
|   Histological_Type|Total|Percentage|
+--------------------+-----+----------+
|            Lymphoma|   13|     37.14|
|      Adenocarcinoma|    9|     25.71|
|Squamous Cell Car...|   13|     37.14|
+--------------------+-----+----------+